/**
 * 控制台组件
 */
.aui-Console{position:relative/*absolute*/;overflow:auto;width:567px;height:300px;margin:0px;border:1px solid #181818;padding:1px;color:#00B400;background-color:#000000;cursor:text}
.aui-LineEdit{position:relative;overflow:hidden;height:12px;font:12px "Lucida Console","宋体";color:#33D011;background-color:#181818;white-space:nowrap;margin-bottom:1px}
.aui-LineEdit .cursor{position:relative;display:inline-block;width:6px;height:12px;line-height:12px;color:#181818;background-color:#33D011}
.aui-LineEdit .gray{background-color:gray}
.aui-LineEdit .input{position:relative;top:-1px;/*width:100%;*/border:0px;padding:0px;margin:0px;line-height:100%;height:12px;color:lightgreen;background-color:transparent}
.aui-LineEdit .input{position:absolute;display:block;color:#FF0000;z-index:2;filter:alpha(opacity=80)}
.aui-LineEdit .input textarea{position:relative;overflow:hidden;margin:-1px;border:0px;height:13px;width:3px;font:12px "Lucida Console","宋体";line-height:14px;/*background:url(../images/input_bg.gif);*/}
.aui-LineEdit .in{color:lightgreen}
.aui-LineEdit .out{color:#888888}
.aui-LineEdit .sys{color:#00B400}
.aui-LineEdit .warn{color:#800000}
.aui-LineEdit .err{color:#FF0000}
.aui-LineEdit .dbg{color:gray}
.aui-LineEdit .log{color:#00B400;/*#808040font-style:italic;*/}