@charset "utf-8";
/* Window组件 */
.ui-window-winxp{position:absolute;overflow:hidden;left:20px;top:20px;width:40%;height:40%}
.ui-window-winxp .win-head{position:absolute;overflow:hidden;width:300px;height:24px;z-index:2;/*background-color:gray;*/}
.ui-window-winxp .win-head img{float:left;position:relative;top:4px;width:16px;height:16px;margin-left:2px;vertical-align:middle;margin-right:4px}
.ui-window-winxp .win-head label{float:left;position:relative;top:6px;font:bold 10pt "宋体";color:white;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;/*background-color:gray;*/}
.ui-window-winxp .win-head .sysbtn{float:right;position:relative;height:21px;margin:1px;padding:1px;/*background-color:blue;*/}
.ui-window-winxp .win-head .icon-min{float:left;position:relative;width:21px;height:21px;margin-right:2px;background:url(../images/win-xp-sysbtn.gif) 0px 0px no-repeat}
.ui-window-winxp .win-head .icon-max{float:left;position:relative;width:21px;height:21px;margin-right:2px;background:url(../images/win-xp-sysbtn.gif) -42px 0px no-repeat}
.ui-window-winxp .win-head .icon-close{float:left;position:relative;width:21px;height:21px;background:url(../images/win-xp-sysbtn.gif) -63px 0px no-repeat}
.ui-window-winxp .win-body{position:absolute;z-index:2;background-color:#FFFFFF;overflow:hidden}

/*
.ui-window-winxp .win-head .icon-min_normal{background-position:0px 0px}
.ui-window-winxp .win-head .icon-min_active{background-position:0px -21px}
.ui-window-winxp .win-head .icon-min_disabled{background-position:0px -42px}
.ui-window-winxp .win-head .icon-max_normal{background-position:-42px 0px}
.ui-window-winxp .win-head .icon-max_active{background-position:-42px -21px}
.ui-window-winxp .win-head .icon-max_disabled{background-position:-42px -42px}
.ui-window-winxp .win-head .icon-close_normal{background-position:-63px 0px}
.ui-window-winxp .win-head .icon-close_active{background-position:-63px -21px}
.ui-window-winxp .win-head .icon-close_disabled{background-position:-63px -42px}
*/

.ui-window-winxp .ui-skin{position:absolute;overflow:hidden;font-size:0px;z-index:0}
.ui-window-winxp .ui-skin .nw{position:absolute;width:7px;height:30px;background:url(../images/win-xp-bg.gif) 0px 0px no-repeat}
.ui-window-winxp .ui-skin .n{position:absolute;/*height:30px;background:url(../images/win-xp-n.gif) repeat-x;*/}
.ui-window-winxp .ui-skin img{position:absolute;height:30px;z-index:1}
.ui-window-winxp .ui-skin .ne{position:absolute;width:7px;height:30px;background:url(../images/win-xp-bg.gif) -7px 0px no-repeat}
.ui-window-winxp .ui-skin .w{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-xp-h.gif) 0px 0px repeat-y}
.ui-window-winxp .ui-skin .e{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-xp-h.gif) -4px 0px repeat-y}
.ui-window-winxp .ui-skin .sw{position:absolute;width:5px;height:4px;background:url(../images/win-xp-bg.gif) 0px -33px no-repeat}
.ui-window-winxp .ui-skin .s{position:absolute;height:4px;background:url(../images/win-xp-v.gif) 0px -3px repeat-x}
.ui-window-winxp .ui-skin .se{position:absolute;width:5px;height:4px;background:url(../images/win-xp-bg.gif) -9px -33px no-repeat}

/*
.ui-window-winxp_normal{}
.ui-window-winxp_resizable{}
.ui-window-winxp_normal_title1{display:none}
.ui-window-winxp_normal_title2{display:block}
.ui-window-winxp_normal_skin3{background-position:-8px 0px}
.ui-window-winxp_normal_skin4{background-position:-11px 0px}
.ui-window-winxp_normal_skin5{background-position:0px -30px}
.ui-window-winxp_normal_skin6{background-position:0px 0px}
.ui-window-winxp_normal_skin7{background-position:-10px -30px}
.ui-window-winxp_resizable_title1{display:block}
.ui-window-winxp_resizable_title2{display:none}
.ui-window-winxp_resizable_skin3{background-position:0px 0px}
.ui-window-winxp_resizable_skin4{background-position:-4px 0px}
.ui-window-winxp_resizable_skin5{background-position:0px -33px}
.ui-window-winxp_resizable_skin6{background-position:0px -3px}
.ui-window-winxp_resizable_skin7{background-position:-9px -33px}
*/

/*
.ui-window-win2k{position:absolute;overflow:hidden;left:80px;top:80px;width:40%;height:40%;background-color:#D4D0C8}
.ui-window-win2k .win-head{position:absolute;overflow:hidden;width:300px;height:18px;z-index:2;/ *background-color:gray;* /}
.ui-window-win2k .win-head img{float:left;position:relative;top:1px;width:16px;height:16px;margin-left:2px;vertical-align:middle;margin-right:2px}
.ui-window-win2k .win-head label{float:left;position:relative;top:2px;font:bold 9pt "宋体" !important;font:bold 8pt "tahoma";color:white;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;/ *background-color:gray;* /}
.ui-window-win2k .win-head .sysbtn{float:right;position:relative;overflow:hidden;height:15px;font-size:0px;margin-top:1px;padding:1px 2px 0px 1px;/ *background-color:blue;* /}
.ui-window-win2k .win-head .icon-min{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) 0px 0px no-repeat}
.ui-window-win2k .win-head .icon-max{float:left;position:relative;width:16px;height:14px;font-size:0px;margin-right:2px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -32px 0px no-repeat}
.ui-window-win2k .win-head .icon-close{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -48px 0px no-repeat}
.ui-window-win2k .win-body{position:absolute;z-index:2;background-color:#FFFFFF/ *#D4D0C8* /;overflow:auto}
*/

.ui-window-win2k{position:absolute;overflow:hidden;border:0px solid #404040;padding:4px;font:8pt tahoma;background-color:#D4D0C8;-webkit-border-image:url(../images/border-outset.gif) 2 stretch stretch;}
.ui-window-win2k .win-head{position:relative;overflow:hidden;z-index:2;height:19px;white-space:nowrap;font-weight:bold;color:white;/*background-color:#0A246A;*/background-image:-webkit-gradient(linear,left top,right top,color-stop(0, #0A246A),color-stop(1, #A6CAF0));}
.ui-window-win2k .win-head .icon{display:inline-block;margin:2px 2px;width:16px;height:16px;line-height:16px;vertical-align:middle;background:url(../images/ep_icon.gif) no-repeat 0px 0px;}
.ui-window-win2k .win-head label{display:inline-block;margin:2px 0px;height:16px;line-height:16px;vertical-align:middle;}
.ui-window-win2k .win-head .sysbtn{float:right;position:relative;overflow:hidden;height:15px;font-size:0px;margin-top:1px;padding:1px 2px 0px 1px;/*background-color:blue;*/}
.ui-window-win2k .win-head .icon-min{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) 0px 0px no-repeat}
.ui-window-win2k .win-head .icon-max{float:left;position:relative;width:16px;height:14px;font-size:0px;margin-right:2px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -32px 0px no-repeat}
.ui-window-win2k .win-head .icon-close{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -48px 0px no-repeat}
.ui-window-win2k .win-body{position:relative;overflow:hidden;z-index:2;}

/*
.ui-window-win2k .win-head .icon-min_normal{background-position:0px 0px}
.ui-window-win2k .win-head .icon-min_active{background-position:0px -14px}
.ui-window-win2k .win-head .icon-min_disabled{background-position:0px -28px}
.ui-window-win2k .win-head .icon-max_normal{background-position:-32px 0px}
.ui-window-win2k .win-head .icon-max_active{background-position:-32px -14px}
.ui-window-win2k .win-head .icon-max_disabled{background-position:-32px -28px}
.ui-window-win2k .win-head .icon-close_normal{background-position:-48px 0px}
.ui-window-win2k .win-head .icon-close_active{background-position:-48px -14px}
.ui-window-win2k .win-head .icon-close_disabled{background-position:-48px -28px}
*/

.ui-window-win2k .border{position:absolute;overflow:hidden;z-index:3;}
.ui-window-win2k .ui-skin{position:absolute;overflow:hidden;left:0px;top:0px;font-size:0px;z-index:0;border:2px solid #404040;-webkit-border-image:url(../images/border-outset.gif) 2 stretch stretch;}
.ui-window-win2k .ui-skin .nw{position:absolute;width:7px;height:30px;background:url(../images/win-2k-bg.gif) 0px 0px no-repeat}
.ui-window-win2k .ui-skin .n{position:absolute;height:4px;background:url(../images/win-2k-v.gif) 0px -10px repeat-x}
.ui-window-win2k .ui-skin img{position:absolute;height:30px;z-index:1}
.ui-window-win2k .ui-skin .ne{position:absolute;width:7px;height:30px;background:url(../images/win-2k-bg.gif) -10px 0px no-repeat}
.ui-window-win2k .ui-skin .w{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-2k-h.gif) 0px 0px repeat-y}
.ui-window-win2k .ui-skin .e{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-2k-h.gif) -4px 0px repeat-y}
.ui-window-win2k .ui-skin .sw{position:absolute;width:5px;height:4px;background:url(../images/win-2k-bg.gif) 0px -33px no-repeat}
.ui-window-win2k .ui-skin .s{position:absolute;height:4px;background:url(../images/win-2k-v.gif) 0px -3px repeat-x}
.ui-window-win2k .ui-skin .se{position:absolute;width:5px;height:4px;background:url(../images/win-2k-bg.gif) -9px -33px no-repeat}

/*
.ui-window-win2k_normal{}
.ui-window-win2k_resizable{}
.ui-window-win2k_normal_skin1{background-position:0px -7px}
.ui-window-win2k_normal_skin2{background-position:-11px 0px}
.ui-window-win2k_normal_skin3{background-position:-8px 0px}
.ui-window-win2k_normal_skin4{background-position:-11px 0px}
.ui-window-win2k_normal_skin5{background-position:0px -30px}
.ui-window-win2k_normal_skin6{background-position:0px 0px}
.ui-window-win2k_normal_skin7{background-position:-10px -30px}
.ui-window-win2k_resizable_skin1{background-position:0px -10px}
.ui-window-win2k_resizable_skin2{background-position:-10px 0px}
.ui-window-win2k_resizable_skin3{background-position:0px 0px}
.ui-window-win2k_resizable_skin4{background-position:-4px 0px}
.ui-window-win2k_resizable_skin5{background-position:0px -33px}
.ui-window-win2k_resizable_skin6{background-position:0px -3px}
.ui-window-win2k_resizable_skin7{background-position:-9px -33px}
*/
