@charset "utf-8";

.mui-Window-winxp{position:absolute;overflow:hidden;left:20px;top:20px;width:40%;height:40%}
.mui-Window-winxp .head{position:absolute;overflow:hidden;width:300px;height:24px;z-index:2;/*background-color:gray;*/}
.mui-Window-winxp .head img{float:left;position:relative;top:4px;width:16px;height:16px;margin-left:2px;vertical-align:middle;margin-right:4px}
.mui-Window-winxp .head label{float:left;position:relative;top:6px;font:bold 10pt "宋体";color:white;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;/*background-color:gray;*/}
.mui-Window-winxp .head .sysbtn{float:right;position:relative;height:21px;margin:1px;padding:1px;/*background-color:blue;*/}
.mui-Window-winxp .head .icon-min{float:left;position:relative;width:21px;height:21px;margin-right:2px;background:url(../images/win-xp-sysbtn.gif) 0px 0px no-repeat}
.mui-Window-winxp .head .icon-max{float:left;position:relative;width:21px;height:21px;margin-right:2px;background:url(../images/win-xp-sysbtn.gif) -42px 0px no-repeat}
.mui-Window-winxp .head .icon-close{float:left;position:relative;width:21px;height:21px;background:url(../images/win-xp-sysbtn.gif) -63px 0px no-repeat}
.mui-Window-winxp .body{position:absolute;z-index:2;background-color:#FFFFFF;overflow:hidden}

/*
.mui-Window-winxp .head .icon-min_normal{background-position:0px 0px}
.mui-Window-winxp .head .icon-min_active{background-position:0px -21px}
.mui-Window-winxp .head .icon-min_disabled{background-position:0px -42px}
.mui-Window-winxp .head .icon-max_normal{background-position:-42px 0px}
.mui-Window-winxp .head .icon-max_active{background-position:-42px -21px}
.mui-Window-winxp .head .icon-max_disabled{background-position:-42px -42px}
.mui-Window-winxp .head .icon-close_normal{background-position:-63px 0px}
.mui-Window-winxp .head .icon-close_active{background-position:-63px -21px}
.mui-Window-winxp .head .icon-close_disabled{background-position:-63px -42px}
*/

.mui-Window-winxp .wui-skin{position:absolute;overflow:hidden;font-size:0px;z-index:0}
.mui-Window-winxp .wui-skin .nw{position:absolute;width:7px;height:30px;background:url(../images/win-xp-bg.gif) 0px 0px no-repeat}
.mui-Window-winxp .wui-skin .n{position:absolute;/*height:30px;background:url(../images/win-xp-n.gif) repeat-x;*/}
.mui-Window-winxp .wui-skin img{position:absolute;height:30px;z-index:1}
.mui-Window-winxp .wui-skin .ne{position:absolute;width:7px;height:30px;background:url(../images/win-xp-bg.gif) -7px 0px no-repeat}
.mui-Window-winxp .wui-skin .w{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-xp-h.gif) 0px 0px repeat-y}
.mui-Window-winxp .wui-skin .e{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-xp-h.gif) -4px 0px repeat-y}
.mui-Window-winxp .wui-skin .sw{position:absolute;width:5px;height:4px;background:url(../images/win-xp-bg.gif) 0px -33px no-repeat}
.mui-Window-winxp .wui-skin .s{position:absolute;height:4px;background:url(../images/win-xp-v.gif) 0px -3px repeat-x}
.mui-Window-winxp .wui-skin .se{position:absolute;width:5px;height:4px;background:url(../images/win-xp-bg.gif) -9px -33px no-repeat}

/*
.mui-Window-winxp_normal{}
.mui-Window-winxp_resizable{}
.mui-Window-winxp_normal_title1{display:none}
.mui-Window-winxp_normal_title2{display:block}
.mui-Window-winxp_normal_skin3{background-position:-8px 0px}
.mui-Window-winxp_normal_skin4{background-position:-11px 0px}
.mui-Window-winxp_normal_skin5{background-position:0px -30px}
.mui-Window-winxp_normal_skin6{background-position:0px 0px}
.mui-Window-winxp_normal_skin7{background-position:-10px -30px}
.mui-Window-winxp_resizable_title1{display:block}
.mui-Window-winxp_resizable_title2{display:none}
.mui-Window-winxp_resizable_skin3{background-position:0px 0px}
.mui-Window-winxp_resizable_skin4{background-position:-4px 0px}
.mui-Window-winxp_resizable_skin5{background-position:0px -33px}
.mui-Window-winxp_resizable_skin6{background-position:0px -3px}
.mui-Window-winxp_resizable_skin7{background-position:-9px -33px}
*/

.mui-Window-win2k{position:absolute;overflow:hidden;left:80px;top:80px;width:40%;height:40%;background-color:#D4D0C8}
.mui-Window-win2k .head{position:absolute;overflow:hidden;width:300px;height:18px;z-index:2;/*background-color:gray;*/}
.mui-Window-win2k .head img{float:left;position:relative;top:1px;width:16px;height:16px;margin-left:2px;vertical-align:middle;margin-right:2px}
.mui-Window-win2k .head label{float:left;position:relative;top:2px;font:bold 9pt "宋体" !important;font:bold 8pt "tahoma";color:white;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;/*background-color:gray;*/}
.mui-Window-win2k .head .sysbtn{float:right;position:relative;overflow:hidden;height:15px;font-size:0px;margin-top:1px;padding:1px 2px 0px 1px;/*background-color:blue;*/}
.mui-Window-win2k .head .icon-min{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) 0px 0px no-repeat}
.mui-Window-win2k .head .icon-max{float:left;position:relative;width:16px;height:14px;font-size:0px;margin-right:2px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -32px 0px no-repeat}
.mui-Window-win2k .head .icon-close{float:left;position:relative;width:16px;height:14px;font-size:0px;background:#D4D0C8 url(../images/win-2k-sysbtn.gif) -48px 0px no-repeat}
.mui-Window-win2k .body{position:absolute;z-index:2;background-color:#FFFFFF/*#D4D0C8*/;overflow:auto}

/*
.mui-Window-win2k .head .icon-min_normal{background-position:0px 0px}
.mui-Window-win2k .head .icon-min_active{background-position:0px -14px}
.mui-Window-win2k .head .icon-min_disabled{background-position:0px -28px}
.mui-Window-win2k .head .icon-max_normal{background-position:-32px 0px}
.mui-Window-win2k .head .icon-max_active{background-position:-32px -14px}
.mui-Window-win2k .head .icon-max_disabled{background-position:-32px -28px}
.mui-Window-win2k .head .icon-close_normal{background-position:-48px 0px}
.mui-Window-win2k .head .icon-close_active{background-position:-48px -14px}
.mui-Window-win2k .head .icon-close_disabled{background-position:-48px -28px}
*/

.mui-Window-win2k .wui-skin{position:absolute;overflow:hidden;font-size:0px;z-index:0}
.mui-Window-win2k .wui-skin .nw{position:absolute;width:7px;height:30px;background:url(../images/win-2k-bg.gif) 0px 0px no-repeat}
.mui-Window-win2k .wui-skin .n{position:absolute;height:4px;background:url(../images/win-2k-v.gif) 0px -10px repeat-x}
.mui-Window-win2k .wui-skin img{position:absolute;height:30px;z-index:1}
.mui-Window-win2k .wui-skin .ne{position:absolute;width:7px;height:30px;background:url(../images/win-2k-bg.gif) -10px 0px no-repeat}
.mui-Window-win2k .wui-skin .w{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-2k-h.gif) 0px 0px repeat-y}
.mui-Window-win2k .wui-skin .e{position:absolute;width:4px;height:400px;top:30px;background:url(../images/win-2k-h.gif) -4px 0px repeat-y}
.mui-Window-win2k .wui-skin .sw{position:absolute;width:5px;height:4px;background:url(../images/win-2k-bg.gif) 0px -33px no-repeat}
.mui-Window-win2k .wui-skin .s{position:absolute;height:4px;background:url(../images/win-2k-v.gif) 0px -3px repeat-x}
.mui-Window-win2k .wui-skin .se{position:absolute;width:5px;height:4px;background:url(../images/win-2k-bg.gif) -9px -33px no-repeat}

/*
.mui-Window-win2k_normal{}
.mui-Window-win2k_resizable{}
.mui-Window-win2k_normal_skin1{background-position:0px -7px}
.mui-Window-win2k_normal_skin2{background-position:-11px 0px}
.mui-Window-win2k_normal_skin3{background-position:-8px 0px}
.mui-Window-win2k_normal_skin4{background-position:-11px 0px}
.mui-Window-win2k_normal_skin5{background-position:0px -30px}
.mui-Window-win2k_normal_skin6{background-position:0px 0px}
.mui-Window-win2k_normal_skin7{background-position:-10px -30px}
.mui-Window-win2k_resizable_skin1{background-position:0px -10px}
.mui-Window-win2k_resizable_skin2{background-position:-10px 0px}
.mui-Window-win2k_resizable_skin3{background-position:0px 0px}
.mui-Window-win2k_resizable_skin4{background-position:-4px 0px}
.mui-Window-win2k_resizable_skin5{background-position:0px -33px}
.mui-Window-win2k_resizable_skin6{background-position:0px -3px}
.mui-Window-win2k_resizable_skin7{background-position:-9px -33px}
*/
