@charset "utf-8";

body,table,th{font:12px "宋体";}
table{border-collapse:collapse;}
ul{margin:0px;padding:0px;}
li{list-style:none;}

ul.class-list{overflow:auto;height:600px;border:1px solid gray;}
.class-list li a:link,
.class-list li a:visited{color:#808080;text-decoration:none;}
.class-list li a:hover{text-decoration:underline;}

h1{margin:8px 0px;}