html, body {padding:0px;margin:0px;background-color:white;}
table {border-collapse: collapse;}
img {border-width:0px;}
p,a,div,h1,h2,li {font-size:12px;font-family:宋体;}
a {color:#333333;}
a:hover {color:#B8860B;}
p {text-indent:24px;line-height:160%;}
hr {width:90%;color:#cecece;height:1px;}
h1 {font-size:16px;}
h2 {font-size:14px;}

div.head {background-color:#0080C0; color:white; padding:2px;padding-top:10px;padding-bottom:10px;border-bottom:solid 1px #CECECE;}
div.head h1 {font-size:14px; margin-bottom:3px; margin-top:0px; text-indent:10px;}
div.head h2 {font-size:12px; margin-top:3px; margin-bottom:0px; text-indent:20px;}
div.foot {padding:10px;margin:auto;width:80%;text-align:center;}
div.art_ctn {margin-left:16px;margin-right:16px;}
div.art_ctn h2 {margin-top:20px;}
div.code {margin:10px;width:80%;border:1px solid #666666;padding:10px;margin:auto;line-height:140%;background-color:#efefef;}
div.code pre {margin:0px;padding:0px;}